{% extends 'layouts/general_layout.html' %}
{% load static %}

{% block title %} Inicio | BLOG IA {% endblock title %}

{% block content %}
    <div style="display: flex; justify-content: center;">
        <img src="{% static 'path/to/your/image.jpg' %}" alt="Descripción de la imagen" style="max-width: 100%; height: auto; align-items: center;">
    </div>

    <div style="display: flex; justify-content: space-between; align-items: center;">
        <h4 style="white-space: pre-wrap; font-family: Italiana; font-size: 30px; color: black; text-align: center;">RECETAS DESTACADAS</h4>
        <h4 style="white-space: pre-wrap; font-family: Italiana; font-size: 30px; color: black; text-align: center;">VER TODAS LAS RECETAS</h4>
    </div>

    <div style="display: flex; justify-content: space-around; margin-top: 20px;">
        {% for post in posts %}
        <div style="background-color: greenyellow; padding: 20px; border-radius: 10px; width: 30%; height: 150px;">
            <h5 style="font-family: Italiana; font-size: 20px;">{{ post.title }}</h5>
            <p>{{ post.description }}</p>
        </div>
        {% endfor %}
    </div>
{% endblock content %}
