<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}Publicaciones | Mi Blog{% endblock title %}</title>
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
</head>
<body>
    <h1>Publicaciones</h1>
    <ul>
        {% for publicacion in publicaciones %}
            <li>
                <article>
                    <h2>{{ publicacion.titulo }}</h2>
                    <p>{{ publicacion.contenido }}</p>
                    <small>{{ publicacion.fecha_creacion|date:"d M Y" }}</small>
                </article>
            </li>
        {% endfor %}
    </ul>
</body>
</html>
