.centered-image {
  display: flex;
  justify-content: center;
}

.recipe-card {
  background-color: greenyellow;
  padding: 20px;
  border-radius: 10px;
  width: 30%;
  height: auto;
}

.title {
  font-family: Italiana;
  font-size: 20px;
}

.header {
  white-space: pre-wrap;
  font-family: Italiana;
  font-size: 30px;
  color: black;
  text-align: center;
}
